.animate__hover {
	border-radius: 8px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	// min-width: 50px;
	border: none;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

span {
	position: relative;
	z-index: 1;
	line-height: 24px;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
}

.animate__hover:hover span {
	color: #5a5a5a;
}



.btnBefore,
.btnAfter {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	border: solid #000;
	border-width: 0;
	border-radius: 0;
	transition: 0;
	-webkit-transition: 0;
	-moz-transition: 0;
	-o-transition: 0;
	-ms-transition: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 8px;
}


.social__item--fb {

	.btnBefore,
	.btnAfter {
		border-color: rgba(23, 143, 245, 1);
	}
}

.social__item--tw {

	.btnBefore,
	.btnAfter {
		border-color: rgba(29, 161, 242, 1);
	}
}

.social__item--inst {

	.btnBefore,
	.btnAfter {
		border-color: rgba(234, 118, 133, 1);
		// border-color: green;
	}
}

.social__item--yt {

	.btnBefore,
	.btnAfter {
		border-color: rgba(196, 3, 43, 1);
	}
}

.animate__hover .btnBefore {
	right: 0;
	bottom: 0;
}

.animate__hover .btnAfter {
	left: 0;
	top: 0;
}

.animate__hover:hover .btnBefore {
	border-width: 0 0 4px 4px;
}

.animate__hover:hover .btnAfter {
	border-width: 4px 4px 0 0;
}

.animate__hover:hover .btnAfter,
.animate__hover:hover .btnBefore {
	height: 100%;
	width: 100%;
	transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
	-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
	-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
	-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
	-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}